<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
</head>
<body>
  <div th:fragment="fragment-header-menu" class="user_menu">
    <ul sec:authorize="!isAuthenticated()">
      <li><a href="/member/login">로그인</a></li>
      |
      <li><a href="/member/register">회원 가입</a></li>
    </ul>
    <ul sec:authorize="isAuthenticated()">
      <p>안녕하세요 <span sec:authentication="name" />님</p>
      <li><a href="/member/info">마이페이지</a></li>
      |
      <li><a href="/member/logout">로그아웃</a></li>
    </ul>
  </div>
</body>
</html>