<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자페이지</title>
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/adminList.css">
</head>
<body>
    <h1>회원관리</h1>
    <div th:replace="/fragments/adminLayout.html :: fragment-body-admin-menu"></div>
    <br/>
    <div class="list">
        <div>
            <form method="get">
                <select name="searchType">
                    <option th:selected="${#strings.equals(param.searchType ,'all')}" value="all">전체</option>
                    <option th:selected="${#strings.equals(param.searchType ,'name')}" value="name">이름</option>
                    <option th:selected="${#strings.equals(param.searchType ,'phone')}" value="phone">연락처</option>
                </select>
                <input th:value="${param.searchValue}" type="text" name="searchValue" placeholder="검색">
                <button type="submit">검색</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>NO</th>
                    <th>아이디(e-mail)</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>이메일 인증 여부</th>
                    <th>가입일</th>
                    <th>관리자 여부</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${list}">
                    <td>1</td>
                    <td th:text="${item.userId}"></td>
                    <td th:text="${item.userName}"></td>
                    <td th:text="${item.phone}"></td>
                    <td>
                        <p th:if="${item.emailAuthYn}">Y</p>
                        <p th:if="${item.emailAuthYn eq false}">N</p>
                    </td>
                    <td th:text="${#temporals.format(item.regDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <p th:if="${item.adminYn}">Y</p>
                        <p th:if="${item.adminYn eq false}">N</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${list.totalPages > 0}">
            <ul class="pagination">
                <li th:if="${list.hasPrevious()}" class="page-item">
                    <a class="page-link" th:href="@{/admin/member/list(page=${list.number-1},size=${list.size})}">&lt;</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, list.totalPages-1)}"
                    th:class="${pageNumber == list.number ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/admin/member/list(page=${pageNumber},size=${list.size})}"
                       th:text="${pageNumber + 1}"></a>
                </li>
                <li th:if="${list.hasNext()}" class="page-item">
                    <a class="page-link" th:href="@{/admin/member/list(page=${list.number+1},size=${list.size})}">&gt;</a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>